<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>처리됨!</title>
</head>
<body>
  <script>
    window.onload = () => {
      alent('삐빅, 처리 완료됨!\n출발점: http://short.kro.kr/' + decodeURI(req.params.short) + '\n도착점: http://' + decodeURI(req.params.long) + '\n\n클립보드에 복사하였습니다!\n확인버튼을 눌러 시작점으로 이동합니다')  
    }
  </script>
</body>
</html>